
<section class="section-color-dark">
  <div class="masthead mini-background">
    <div class="masthead-wrapper">
      <div class="masthead-background-wrapper">
        <figure class="img-wrapper masthead-background">
          <div class="built-background built-background-multi"></div>
        </figure>
      </div>

      <div class="masthead-hero">
        <div class="masthead-main">
          <div class="masthead-container">
            <span class="masthead-headline">Marvel Characters</span>
            <div class="masthead-copy">
              Get hooked on a hearty helping of heroes and villains from the humble House of Ideas!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="full-content">
  <form class="row">
    <mat-form-field class="col-md-6 col-sm-6">
      <mat-icon matPrefix class="mr-8" fontIcon="search"></mat-icon>
      <input
        class="w-100"
        type="search"
        id="searchCharacters"
        matInput
        #searchQuery
        (input)="onSearchUpdated(searchQuery.value)"
        (selected)="onSearchUpdated(searchQuery.value)"
        [matAutocomplete]="auto"
        placeholder="Search"
      >

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onSearchUpdated($event.option.value)'>
        @for (option of options(); track option) {
          <mat-option [value]="option">
            {{option}}
          </mat-option>
        }

      </mat-autocomplete>
    </mat-form-field>
  </form>
  @if(characters().length > 0 && !isLoading()) {
    <div class="content-grid">
      <div class="grid-base grid-6">
        @for(character of characters(); track character.id) {
          <div class="mvl-card mvl-card-explore">
            <a href="" class="explore-link">
              <div class="card-thumb-frame">
                <figure class="img-wrapper">
                  <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="" class="card-thumb-frame-thumbnail img-blur">
                </figure>
              </div>
              <div class="card-body is-sliding">
                <p class="card-body-headline">{{character.name}}</p>
                <div class="card-footer">
                  <p class="card-footer-secondary-text">{{character.modified | date: 'dd/MM/yyyy'}}</p>
                  <p class="card-footer-micro-description"></p>
                </div>
              </div>
            </a>
          </div>
        }
      </div>
    </div>
  }

    <mat-paginator
      [length]="length()"
      [pageSize]="pageSize()"
      [pageSizeOptions]="pageSizeOptions()"
      (page)="getCharactersByPage($event)"
      aria-label="Select page"
    >
    </mat-paginator>

</div>
