
<section class="section-color-dark">
  <div class="masterhead mini-background">
    <div class="masterhead-wrapper">
      <div class="masterhead-background-wrapper">
        <figure class="img-wrapper masterhead-background">
          <div class="built-background built-background-multi"></div>
        </figure>
      </div>

      <div class="masterhead-hero">
        <div class="masterhead-main">
          <div class="masterhead-container">
            <span class="masterhead-headline">Marvel Characters</span>
            <div class="masterhead-copy">
              Get hooked on a hearty helping of heroes and villains from the humble House of Ideas!
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
