
<section class="section-color-dark">
  <div class="masthead mini-background">
    <div class="masthead-wrapper">
      <div class="masthead-background-wrapper">
        <figure class="img-wrapper masthead-background">
          <div class="built-background built-background-multi"></div>
        </figure>
      </div>

      <div class="masthead-hero">
        <div class="masthead-main">
          <div class="masthead-container">
            <span class="masthead-headline">Marvel Characters</span>
            <div class="masthead-copy">
              Get hooked on a hearty helping of heroes and villains from the humble House of Ideas!
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
