<swiper
  [config]="config"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
>
  <ng-template swiperSlide>
    <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/a0/62fec73360d75.jpg" alt="'Strange' #5">
    <div class="slider-frame">
      <div class="sld-decor-left">
      </div>
      <button id="btnRotator" class="btn btn-black btnc-white-border js-overlay-btnv"></button>
      <div class="sld-txt-wrap">
        <div class="sld-txt-content">
          <div class="fade-in">
            <h3>
              <a href="https://www.marvel.com/articles/comics/strange-5-jed-mackay-interview-doctor-strange-return">'Strange' #5</a>
            </h3>
            <h2>
              <a href="https://www.marvel.com/articles/comics/strange-5-jed-mackay-interview-doctor-strange-return">Writer Jed MacKay Breaks Down Doctor Strange's Return</a>
            </h2>
            <a class="cta-btn cta-btn--outline cta-btn--light" aria-current="true" href="https://www.marvel.com/articles/comics/strange-5-jed-mackay-interview-doctor-strange-return">
              <div class="innerFill">Read Now!</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/10/62fec6303550d.jpg" alt="Spotlight">
    <div class="slider-frame">
      <div class="sld-decor-left">
      </div>
      <button id="btnRotator" class="btn btn-black btnc-white-border js-overlay-btnv"></button>
      <div class="sld-txt-wrap">
        <div class="sld-txt-content">
          <div class="fade-in">
            <h3>
              <a href="https://www.marvel.com/articles/comics/marvel-characters-who-are-lawyers-in-the-comics">Spotlight</a>
            </h3>
            <h2>
              <a href="https://www.marvel.com/articles/comics/marvel-characters-who-are-lawyers-in-the-comics">Best Lawyers in the Marvel Universe</a>
            </h2>
            <a class="cta-btn cta-btn--outline cta-btn--light" aria-current="true" href="https://www.marvel.com/articles/comics/marvel-characters-who-are-lawyers-in-the-comics">
              <div class="innerFill">Overruled!</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img src="https://i.annihil.us/u/prod/marvel/i/mg/a/20/62fcd92a6796d.jpg" alt="Coming Soon">
    <div class="slider-frame">
      <div class="sld-decor-left">
      </div>
      <button id="btnRotator" class="btn btn-black btnc-white-border js-overlay-btnv"></button>
      <div class="sld-txt-wrap">
        <div class="sld-txt-content">
          <div class="fade-in">
            <h3>
              <a href="https://www.marvel.com/articles/comics/celebrate-spider-man-60th-anniversary-spider-verse-unlimited-cb-cebulski-nick-lowe">Coming Soon</a>
            </h3>
            <h2>
              <a href="https://www.marvel.com/articles/comics/celebrate-spider-man-60th-anniversary-spider-verse-unlimited-cb-cebulski-nick-lowe">C. B. Cebulski and Nick Lowe Celebrate Spider-Man's 60th Anniversary</a>
            </h2>
            <a class="cta-btn cta-btn--outline cta-btn--light" aria-current="true" href="https://www.marvel.com/articles/comics/celebrate-spider-man-60th-anniversary-spider-verse-unlimited-cb-cebulski-nick-lowe">
              <div class="innerFill">Look Ahead!</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img src="https://i.annihil.us/u/prod/marvel/i/mg/4/00/62fcd79742913.jpg" alt="Marvel's Voices">
    <div class="slider-frame">
      <div class="sld-decor-left">
      </div>
      <button id="btnRotator" class="btn btn-black btnc-white-border js-overlay-btnv"></button>
      <div class="sld-txt-wrap">
        <div class="sld-txt-content">
          <div class="fade-in">
            <h3>
              <a href="https://www.marvel.com/articles/comics/america-chavez-loki-team-up-marvels-voices-infinity-comics-story-arc">Marvel's Voices</a>
            </h3>
            <h2>
              <a href="https://www.marvel.com/articles/comics/america-chavez-loki-team-up-marvels-voices-infinity-comics-story-arc">America Chavez Teams Up with Loki</a>
            </h2>
            <a class="cta-btn cta-btn--outline cta-btn--light" aria-current="true" href="https://www.marvel.com/articles/comics/america-chavez-loki-team-up-marvels-voices-infinity-comics-story-arc">
              <div class="innerFill">First Look!</div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img src="https://i.annihil.us/u/prod/marvel/i/mg/9/70/62f6d2da571f4.jpg" alt="Starter Stories">
    <div class="slider-frame">
      <div class="sld-decor-left">
      </div>
      <button id="btnRotator" class="btn btn-black btnc-white-border js-overlay-btnv"></button>
      <div class="sld-txt-wrap">
        <div class="sld-txt-content">
          <div class="fade-in">
            <h3>
              <a href="https://www.marvel.com/articles/comics/she-hulk-comics-for-new-readers">Starter Stories</a>
            </h3>
            <h2>
              <a href="https://www.marvel.com/articles/comics/she-hulk-comics-for-new-readers">Get to Know She-Hulk</a>
            </h2>
            <a class="cta-btn cta-btn--outline cta-btn--light" aria-current="true" href="https://www.marvel.com/articles/comics/she-hulk-comics-for-new-readers">
              <div class="innerFill">Read Now!</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
