<app-comics-carousel></app-comics-carousel>

@if(!shouldShowLoadingIndicator()) {
  <app-comics-item />
}
@if(!shouldShowLoadingIndicator()) {
  <div class="JCFilter-showmore">
    <div class="btn-Merger">
      <a id="btnShowMore"  (click)="loadMore()" class="cta-btn cta-btn--solid cta-btn--red active" aria-current="true" data-browse-fetchmore="browse">
        <div class="innerFill">Load More</div>
      </a>
    </div>
  </div>
}

@if(shouldShowLoadingIndicator()) {
  <span
    id="loading"
    class="d-flex justify-content-center align-items-center"
  >
    <mat-progress-spinner
      [color]="color"
      [mode]="mode"
      [value]="value">
    </mat-progress-spinner>
  </span>
}
