<app-comics-carousel></app-comics-carousel>
<section *ngIf="!(loading$ | async)">
  <div class="grid-container mt-30">
    <div class="JCMultiRow">
      <div class="row-item comic-item" *ngFor="let comic of comics$ | async">
        <div class="row-item-image">
          <a href="" class="row-item-image-url">
            <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}">
          </a>
        </div>
        <div class="row-item-text">
          <h5>
            <a class="meta-title" style="color: #000;" href="#">
              {{comic.title}}
            </a>
          </h5>
          <p class="meta-creators">
            <a href="//www.marvel.com/comics/creators/14041/gene_yang" style="color: #000;">{{comic.creators.items[0]?.name}}</a>
          </p>
      </div>
      </div>
    </div>
  </div>
</section>
<div class="JCFilter-showmore" *ngIf="!(shouldShowLoadingIndicator$ | async)">
  <div class="btn-Merger">
    <a id="btnShowMore"  (click)="loadMore()" class="cta-btn cta-btn--solid cta-btn--red active" aria-current="true" data-browse-fetchmore="browse">
      <div class="innerFill">Load More</div>
    </a>
  </div>
</div>

<span
  id="loading"
  *ngIf="shouldShowLoadingIndicator$ | async"
  class="d-flex justify-content-center align-items-center"
>
  <mat-progress-spinner
  [color]="color"
  [mode]="mode"
  [value]="value">
</mat-progress-spinner>
</span>
