/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@use './assets/sass/index' as theme;
@import "bootstrap/dist/css/bootstrap.css";

:root {
  $primary:#202020;
  //bullets
  --swiper-pagination-bullet-width: 18px;
  --swiper-pagination-bullet-height: 5px;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-border-radius: 100%
  --swiper-pagination-bottom: 10px !important;


  //bullets active
  --swiper-theme-color: #E62429;
  --swiper-pagination-color: #E62429 !important;
  --swiper-pagination-bullet-inactive-color: #FFF;
  --swiper-pagination-bullet-inactive-opacity: 0.4 !important;

  //swiper-slide
  --swiper-slide-width: 100%
  --swiper-slide-height: 570px;

  @include mat.autocomplete-overrides((
    background-color: #FFF,
  ));

  .mat-drawer-backdrop {
    position: fixed;
  }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
}


