/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import './assets/sass/main.scss';


:root {
  $primary:#202020;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
}
